{% load static %}
<body>
    <div class="container stu mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success text-center">
                    {{message}}
                </div>{% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-4 text-center py-5">
                <div class="alert alert-info text-center">Add Student Data</div>
                <form method="POST" novalidate> {% csrf_token %}
                    {% for form in fm %} <br>
                    <span class="text-danger">{{form.errors}}</span><br>
                    <label>{{form.label}}</label> {{form}} <br>
                    {% endfor %}<br>
                    <button class="btn btn-primary btn-lg" type="submit">Add</button>
                </form>
            </div>
            <div class="col-sm-8 p-5">
                <div class="alert alert-info text-center">Student Data</div>
                <table class="table">
                    <thead>
                        <td>rollno</td>
                        <td>name</td>
                        <td>email</td>
                        <td>Update/Delete</td>
                    </thead>
                    {% for data in studata %}
                    <tr><td>{{data.rollno}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td><div class="d-flex">
                            <a href="update/{{data.id}}/" class="btn btn-success btn-sm mx-1">Edit</a>
                            <a href="delete/{{data.id}}/" class="btn btn-danger btn-sm mx-1">Delete</a>
                        </div></td>
                    </tr>
                    {% endfor  %}
                </table>
            </div>
        </div>
    </div>
</body>